body {
  margin: 0px;
  padding: 0px;
  color: #DAF0EE;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: url("https://www.telegraph.co.uk/content/dam/music/2017/11/06/Jordan-Mackampa-press-shot_trans_NvBQzQNjv4BqzoMsCpJSMPyJesVpCCAG4iBlyjd0ckc3VG5fEsaY0U0.jpg");
}

h1 {
  color: white;
  font-size: 10vh;
}

h2 {
  color: white;
  font-size: 5vh;
}

h3 {
  font-size: 4vh;
}

ul {
  font-size: 4vh;
}

li {
  text-align: left;
  font-size: 3vh;
  padding: 1.5vh;
}

p {
  font-size: 2.5vh;
  padding: 1vh;
}

#like-btn {
  font-size: 3vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1vh 1.5vw;
}


.intro {
  background-color: #3B413C;
  margin: 5vh 20vw;
  padding: 5vh;
  border-radius: 1vh;
}

.album {
  background-color: #3B413C;
  margin: 5vh 20vw;
  padding: 5vh;
  border-radius: 1vh;
}
