img {
  border-radius: 100%;
  border: 3px solid white;
  width: 35%;
  margin-right: 5vw;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
